@tailwind base;
@tailwind components;
@tailwind utilities;

.leaflet-control-attribution {
  display: none;
}

@layer base {
  :root {
    --color-border: 250 250 250;
    --color-bkg1: 255 255 255;
    --color-bkg2: 240 240 240;
    --color-content1: 17 24 39;
    --color-content2: 132 142 147;
  }
  @media (prefers-color-scheme: dark) {
    :root {
      --color-border: 13 17 23;
      --color-bkg1: 31 41 55;
      --color-bkg2: 27 35 46;
      --color-content1: 229 231 235;
      --color-content2: 132 142 147;
    }
    .leaflet-layer,
    .leaflet-control-zoom-in,
    .leaflet-control-zoom-out,
    .leaflet-control-attribution {
      filter: invert(100%) hue-rotate(180deg) brightness(95%) contrast(90%);
    }
    .leaflet-container {
        background: #000
    }
  }
}

